// variables
@import 'helpers/variables';
@import 'helpers/mixins';

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "compass-mixins/lib/_compass.scss";
@import "bourbon/dist/_bourbon.scss";
// endbower

// typography
@import 'typography/config';
@import 'typography/mixins';

// base
@import 'base/global';

// layout
@import 'layout/header';
@import 'layout/grid';

// components
@import 'components/colors';

// sections
@import 'sections/intro';
