section.clouds-bg#about
	.container
		.row
			.col-sm-12
				h1.section-header Profile.
		.row			
			.col-lg-6
				h2.section-subtitle Who I am.
				article.about-bio
					p.section-copy I'm Rudy Crespo, a front end developer from New York City. I build modern, cross-browser compatible and responsive websites and web applications using the latest standards-based technologies. I'm focused on writing modular, semantic and maintainable code.

					p.section-copy In my free time I enjoy reading, writing, gormandizing, working out, listening to hip-hop and spending time with my family.	