section.clouds-bg#about
	.container
		.row
			.col-sm-12
				h1.section-header Profile.
		.row			
			.col-lg-6
				h2.section-subtitle Who I am.

				article.profile-bio
					p.section-copy.about-copy I'm Rudy Crespo, a front end developer from New York City. I build modern, cross-browser compatible and responsive websites and web applications using the latest standards-based technologies. I'm focused on writing modular, semantic and maintainable code.

					p.section-copy.about-copy In my free time I enjoy reading, writing, gormandizing, working out, listening to hip-hop and spending time with my family.

			.col-lg-5.col-lg-offset-1
				h2.section-subtitle Skills.
				dl.profile-skills.dl-horizontal
					dt.skills-title Front End Development:
					dd.skills-list HTML5, CSS3, SCSS, Javascript, AJAX, JSON 

					dt.skills-title Responsive HTML5 Frameworks:
					dd.skills-list Twitter Bootstrap, ZURB Foundation

					dt.skills-title JS Libraries and Frameworks:
					dd.skills-list jQuery, Angular.js, lodash.js						

					dt.skills-title Back End Development:
					dd.skills-list Ruby, Ruby on Rails, Sinatra

					dt.skills-title Databases:
					dd.skills-list PostgreSQL, SQLite, MongoDB

					dt.skills-title Other:
					dd.skills-list Git, Grunt, Bower																									