section.clouds-bg#about
	.container
		.row
			.col-sm-12
				.header-section
					h1.header-text About me.

			//- .col-lg-6
			//- 	.about-bio
			//- 		p.portfolio-copy I'm Rudy Crespo, a front end developer from New York City dedicated to building functional web experiences.		