section.clouds-bg#intro

	.container
		.row
			.col-lg-12
				.header-section
					h1 Front end developer dedicated to
						br 
						| crafting transcendent websites.

				figure.intro-image
					object.workspace(type="image/svg+xml", data="../images/dev-kit.svg")
						img(src="../images/dev-kit.png")

					