section.navy-bg#intro

	.container
		.row
			.col-lg-12
				.introduction.white-text
					h1.intro-copy Front end developer dedicated to
						br 
						| crafting transcendent websites.

	figure.intro-image
		object.workspace(type="image/svg+xml", data="../images/development-tools.svg")
			img(src="../images/development-tools.png")

					