section.navy-bg#intro

	.container
		.row
			.col-sm-8
				h1.section-header.white-text#intro-greeting
				h2.intro-header.white-text My name is Rudy Crespo, and I'm a front end developer from New York City dedicated to building transcendent web experiences.

					