section.navy-bg#intro

	.container
		.row
			.col-sm-8
				h1.intro-header.white-text
					span.section-header.intro-copy.white-text#intro-greeting
					span.intro-lead.intro-copy.white-text My name is Rudy Crespo, and I'm a front end developer from New York City dedicated to building transcendent web experiences.
					