section.navy-bg#intro

	.container
		.row
			.col-md-9.col-lg-8
				h1.intro-header.white-text
					span.section-header.intro-copy.white-text#intro-greeting
					span.intro-lead.intro-copy.white-text My name is Rudy Crespo, and I'm a front end developer from New York City dedicated to building transcendent web experiences.

				a.btn.btn-default.anchor-link(href="#work") View Work
			
			.col-lg-4
				figure.astronaut
					img.img-responsive(src="../images/greetings-astronaut.svg", alt="Astronaut with flag.")		