section.clouds-bg#intro

	.container
		.row
			.col-sm-12
				.header-section
					h1 
						| Rudy Crespo is a front end developer
						br 
						| and storyteller from New York City.

				figure.intro-image
					object.workspace(type="image/svg+xml", data="../images/dev-kit.svg")
						img(src="../images/dev-kit.png")

					