section.navy-bg#intro

	.container
		.row
			.col-sm-11
				h1.intro-header.white-text Hello, my name is Rudy Crespo. I'm a front end developer from New York City dedicated to crafting transcendent user interfaces.

					