section.clouds-bg#intro

	.container
		.row
			.col-sm-11
				.intro-header-section
					h1 Hello, my name is Rudy Crespo. I'm a front end developer from New York City dedicated to crafting transcendent user interfaces.

					