section.intro-section.navy-bg#intro

	.container
		.row
			.col-md-9.col-lg-8				
				h1.intro-header.white-text
					span.intro-copy.white-text#intro-greeting
					span.intro-lead.intro-copy.white-text My name is Rudy Crespo, and I'm a front end developer from New York City dedicated to building transcendent web experiences.

				a.btn.btn-default.anchor-link(href="#work") View Work
			
			.col-lg-4
				figure.astronaut
					//- img.astronaut-image.img-responsive(src="../images/greetings-astronaut.svg", alt="An astronaut holding a flag greets you to Rudy Crespo's portfolio.")
					object.astronaut-image.img-responsive(data="../images/greetings-astronaut.svg", alt="An astronaut holding a flag greets you to Rudy Crespo's portfolio.", type="image/svg+xml")													