section.navy-bg#intro

	.container
		.row
			.col-lg-12
				.header-section.white-text
					h1 Front end developer dedicated to
						br 
						| crafting transcendent websites.

				figure.intro-image
					object.workspace(type="image/svg+xml", data="../images/development-tools.svg")
						img(src="../images/development-tools.png")

					