section.white-bg#work
	.container
		.row
			.col-sm-12
				.header-section
					h1.header-text Selected work

		//- .row
		//- 	.slide-container
		//- 		.col-md-6
		//- 			figure.project-image
		//- 				img.img-responsive(src="../images/mirror-paradox.png")			