/*------------------------------------*\
    #About Styles
\*------------------------------------*/

// biography
.about-copy {
	max-width: rem(555);

	&:last-child {
		margin-bottom: 0;
	}

}

// skills
.skills-icon {

	&:nth-child(-n+4) {
		margin-bottom: rem(20);	
	}

}

.skills-img {
	max-width: 95px;
	height: auto;
}