/*------------------------------------*\
    #Intro Styles
\*------------------------------------*/

#intro {
	padding: rem(80) 0;
}

// .intro-copy {
// 	display: block;
// 	@include type-weight(regular);
// 	@include type-scale(large);
// }

// .bottom-intro {
// 	margin-top: .5rem;
// }

.intro-image {
	margin: 0 auto;
	max-width: rem(1000);
}

.workspace {
	width: 100%;
}

