/*------------------------------------*\
    #Intro Styles
\*------------------------------------*/

.introduction {
	text-align: center;
}

.intro-image {
	margin: 0 auto;
	max-width: 900px;
}

.workspace {
	width: 100%;
	margin-bottom: -6px;
}

