/*------------------------------------*\
    #Global Styles
\*------------------------------------*/

html, body {
	font-size: 100%;
	position: relative;
}

// better font rendering
body, 
button, 
input,
select, 
label,
textarea {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;   
}

body {
	padding-top: 82px;
}
