/*------------------------------------*\
    #Background Styles
\*------------------------------------*/

.clouds-bg {
	background-color: $clouds;
}

.red-bg {
	background-color: $pomegranate;
}

.blue-bg {
	background-color: $belizeHole;
}

.navy-bg {
	background-color: $wetAsphalt;
}