/*------------------------------------*\
    #Buttons
\*------------------------------------*/

.btn {
	font-size: rem(20);
	border-radius: 0;
	border-width: 2px;
	padding: rem(8) rem(27);
	@include transition(all .2s ease-in-out);
}

.btn-default {
	&:hover {
		color: $wet-asphalt;
		background-color: $btn-default-color;
	}
}