/*------------------------------------*\
    #Colors
\*------------------------------------*/

// background colors
.clouds-bg {
	background-color: $clouds;
}

.red-bg {
	background-color: $alizarin;
}

.gray-bg {
	background-color: $lynch;
}

.green-bg {
	background-color: $greenSea;
}

.blue-bg {
	background-color: $belizeHole;
}

.navy-bg {
	background-color: $wetAsphalt;
}

.white-bg {
	background-color: $white;
}

.yellow-bg {
	background-color: $sunFlower;
}

// text colors
.white-text {
	color: $white;
}