/*------------------------------------*\
    #Colors
\*------------------------------------*/

// background colors
.clouds-bg {
	background-color: $clouds;
}

.red-bg {
	background-color: $alizarin;
}

.blue-bg {
	background-color: $belizeHole;
}

.navy-bg {
	background-color: $wetAsphalt;
}

.white-bg {
	background-color: $white;
}

// text colors

.white-text {
	color: $white;
}