header.navbar-fixed-top.nav-down
	nav.navbar.navbar-default(role="navigation")
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type="button")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar

				a.navbar-brand.anchor-link(href="#intro", title="Rudy Crespo") Rudy Crespo

