header.navbar-fixed-top.nav-down
	nav.navbar.navbar-default(role="navigation")
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#main-nav")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand.anchor-link(href="#intro", title="Rudy Crespo") Rudy Crespo


			#main-nav.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right

					li.desktop-nav-item
						a.anchor-link.desktop-nav-link(href="#work") Work

					li.desktop-nav-item
						a.anchor-link.desktop-nav-link(href="#about") About
						
					li.desktop-nav-item
						a.anchor-link.desktop-nav-link(href="#contact") Contact


