header.main-header.navbar-fixed-top
	nav.navbar.navbar-default(role="navigation")
		.container
			.navbar-header
				button.navbar-toggle.collapsed.nav-trigger(type="button")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar

				a.navbar-brand(href="http://www.rudycrespo.com", title="Rudy Crespo") Rudy Crespo
