.overlay
	nav.overlay-nav(role="navigation")
		ul.main-menu.list-unstyled
			each menuItem in menuItems
				li.nav-item
					a.anchor-link.nav-link(href="#{menuItem.link}")= menuItem.name

.dark-overlay