.overlay
	nav.overlay-nav(role="navigation")
		ul.main-menu
			li.nav-item
				a.anchor-link.nav-link(href="#intro") Hello

			li.nav-item
				a.anchor-link.nav-link(href="#work") Work

			li.nav-item
				a.anchor-link.nav-link(href="#about") About
				
			li.nav-item
				a.anchor-link.nav-link(href="#contact") Contact