/*------------------------------------*\
    #Custom Variables
\*------------------------------------*/

// colors
$white: #fff;

$black: #111;

$transparentBlack: rgba(0,0,0,0.1);

/*------------------------------------*\
    #Bootstrap Overrides
\*------------------------------------*/

// navigation bar
// Basics of a navbar
$navbar-height: 80px;

$navbar-default-color: $black;
$navbar-default-bg: $white;
$navbar-default-border: $transparentBlack;

// // Navbar links
$navbar-default-link-color: $black;
// $navbar-default-link-hover-color:          #333 !default;
// $navbar-default-link-hover-bg:             transparent !default;
// $navbar-default-link-active-color:         #555 !default;
// $navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
// $navbar-default-link-disabled-color:       #ccc !default;
// $navbar-default-link-disabled-bg:          transparent !default;

$nav-link-padding: 10px 25px;

// // Navbar brand label
// $navbar-default-brand-color:               $navbar-default-link-color !default;
// $navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
// $navbar-default-brand-hover-bg:            transparent !default;

// // Navbar toggle
// $navbar-default-toggle-hover-bg:           #ddd !default;
// $navbar-default-toggle-icon-bar-bg:        #888 !default;
// $navbar-default-toggle-border-color:       #ddd !default;