/*------------------------------------*\
    #Custom Variables
\*------------------------------------*/

// colors
$white: #fff;

$darkGray: #353d44;

$clouds: #ecf0f1;

$alizarin: #e74c3c;

$pomegranate: #c0392b;

$belizeHole: #2980b9;

$wetAsphalt: #34495e;

$transparent: transparent;
$transparentBlack: rgba(0,0,0,0.1);
$transparentWhite: rgba(255,255,255,.95);

/*------------------------------------*\
    #Bootstrap Overrides
\*------------------------------------*/

// body
$body-bg: $wetAsphalt;

// text
$text-color: $darkGray;

// fonts
$font-family-sans-serif: 'effra', Helvetica, Arial, sans-serif;

$font-family-base: $font-family-sans-serif; 

// navigation bar
$navbar-height: 80px;

$navbar-margin-bottom: 0;

$navbar-default-bg: $transparentWhite;
$navbar-default-border: none;

// navbar links
$navbar-default-link-color: $darkGray;
$navbar-default-link-hover-color: $pomegranate;
$navbar-default-link-active-color: $navbar-default-link-hover-color;
$navbar-default-link-active-bg:  $transparent;

$nav-link-padding: 10px 30px;

// // navbar brand label
$navbar-default-brand-color:  $navbar-default-link-color;
$navbar-default-brand-hover-color: $navbar-default-brand-color;

// // navbar toggle
// $navbar-default-toggle-hover-bg:           #ddd !default;
// $navbar-default-toggle-icon-bar-bg:        #888 !default;
// $navbar-default-toggle-border-color:       #ddd !default;