/*------------------------------------*\
    #Custom Variables
\*------------------------------------*/

// colors
$white: #fff;

$darkGray: #333;

$clouds: #ecf0f1;

$alizarin: #e74c3c;

$pomegranate: #c0392b;

$belizeHole: #2980b9;

$wetAsphalt: #34495e;
$transWetAsphalt: rgba(52,73,94,.95);

$greenSea: #16a085;

$sunFlower: #f1c40f;

$lynch: #6C7A89;

$transparent: transparent;
$transparentBlack: rgba(0,0,0,0.1);

/*------------------------------------*\
    #Bootstrap Overrides
\*------------------------------------*/

// text
$text-color: $darkGray;

// fonts
$font-family-sans-serif: 'brandon-grotesque', Helvetica, Arial, sans-serif;
$font-family-serif: 'dapifer', Georgia, Times, serif;

$font-family-base: $font-family-sans-serif;

$headings-font-family: $font-family-serif; 

// navigation bar
$navbar-height: 80px;

$navbar-margin-bottom: 0;

$navbar-default-bg: $white;
$navbar-default-border: none;

$grid-float-breakpoint:     -9999px;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: -9999px;

// navbar links
$navbar-default-link-color: $darkGray;
$navbar-default-link-hover-color: $greenSea;
$navbar-default-link-active-color: $navbar-default-link-hover-color;
$navbar-default-link-active-bg:  $transparent;

$nav-link-padding: 10px 30px;

// // navbar brand label
$navbar-default-brand-color: $navbar-default-link-color;
$navbar-default-brand-hover-color: $navbar-default-brand-color;

// // navbar toggle
$navbar-default-toggle-hover-bg: $transparent;
// $navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color: $transparent;