/*------------------------------------*\
    #Custom Variables
\*------------------------------------*/

// colors
$white: #fff;

$dark-gray: #333;

$clouds: #ecf0f1;

$absestos: #7f8c8d;

$alizarin: #e74c3c;

$pomegranate: #c0392b;

$belize-hole: #2980b9;

$wet-asphalt: #34495e;
$trans-wet-asphalt: rgba(52,73,94,.95);

$green-sea: #16a085;

$sun-flower: #f1c40f;

$lynch: #6C7A89;

$transparent: transparent;
$transparent-black: rgba(#000, 0.4);

/*------------------------------------*\
    #Bootstrap Overrides
\*------------------------------------*/

// text
$text-color: $dark-gray;

// fonts
$font-family-sans-serif: 'brandon-grotesque', Helvetica, Arial, sans-serif;
$font-family-serif: 'New Century Schoolbook W01', Georgia, Times, serif;

$font-family-base: $font-family-sans-serif;

$headings-font-family: $font-family-sans-serif;

// navigation bar
$navbar-height: 80px;

$navbar-margin-bottom: 0;

$navbar-default-bg: $white;
$navbar-default-border: none;

$grid-float-breakpoint: -9999px;

// // navbar brand label
$navbar-default-brand-color: $text-color;
$navbar-default-brand-hover-color: $green-sea;

// // navbar toggle
$navbar-default-toggle-hover-bg: $transparent;
$navbar-default-toggle-icon-bar-bg: $navbar-default-brand-color;
$navbar-default-toggle-border-color: $transparent;

// buttons

$btn-default-color:  $white;
$btn-default-bg:  $transparent;
$btn-default-border: $btn-default-color;

// $btn-primary-color:              #fff !default;
// $btn-primary-bg:                 $brand-primary !default;
// $btn-primary-border:             darken($btn-primary-bg, 5%) !default;

// $btn-success-color:              #fff !default;
// $btn-success-bg:                 $brand-success !default;
// $btn-success-border:             darken($btn-success-bg, 5%) !default;

// $btn-info-color:                 #fff !default;
// $btn-info-bg:                    $brand-info !default;
// $btn-info-border:                darken($btn-info-bg, 5%) !default;

// $btn-warning-color:              #fff !default;
// $btn-warning-bg:                 $brand-warning !default;
// $btn-warning-border:             darken($btn-warning-bg, 5%) !default;

// $btn-danger-color:               #fff !default;
// $btn-danger-bg:                  $brand-danger !default;
// $btn-danger-border:              darken($btn-danger-bg, 5%) !default;

// $btn-link-disabled-color:        $gray-light !default;