/*------------------------------------*\
    #Grid Styles
\*------------------------------------*/

// section styles
section {
	overflow: hidden;
}

.intro-section {
	padding: rem(90) 0 rem(80) 0;
}

.content-section {
	padding: rem(90) 0 rem(110) 0;
}