/*------------------------------------*\
    #Header Styles
\*------------------------------------*/

// nav logo and hamburger
.icon-bar, .navbar-brand {
	@include transition(all .2s ease-in-out);	
}

.navbar-brand {
	font-size: rem(25);
}

.navbar-toggle {

	margin-top: 25px;
	margin-bottom: 21px;

	.icon-bar {
		width: 24px;
	}

	&:hover {
		.icon-bar {
			background-color: $greenSea;
		}
	}

}

// nav overlay
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: $transWetAsphalt;
	z-index: 99999;
}

.overlay-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	@include transform(translateY(-50%));	
}

.main-menu {
	margin-bottom: 0;
}

.nav-item {
	display: inline-block;
	padding: 0 40px;
}

.nav-link {
	color: $white;
	font-family: $font-family-serif;
	font-size: rem(49);
	text-transform: lowercase;	

	&:hover, &:focus {
		color: $white;
		text-decoration: none;
	}

	&:hover, &.active {
		border-bottom: 3px solid lighten($wetAsphalt, 85%);
	}
}