/*------------------------------------*\
    #Header Styles
\*------------------------------------*/

// nav logo and hamburger
.icon-bar, .navbar-brand {
	@include transition(all .2s ease-in-out);	
}

.navbar-brand {
	font-size: rem(25);
}

.navbar-toggle {

	margin-top: 25px;
	margin-bottom: 21px;

	.icon-bar {
		width: 24px;
	}

	&:hover {
		.icon-bar {
			background-color: $greenSea;
		}
	}

}

// nav overlay
.overlay, .dark-overlay {
	position: fixed;
	display: none;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;	
}

.overlay {
	width: 30%;
	background: $white;
	z-index: 2000;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: -50px;
		width: 130px;
		height: 100%;
		background: $white;
		@include transform(skewX(-6deg));		
	}
}

.dark-overlay {
	background: $transparentBlack;
	left: 0;
	width: 100%;
	z-index: 1070;
}

.overlay-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: right;
	padding: 0 70px;
	@include transform(translateY(-50%));	
}

.main-menu {
	margin-bottom: 0;
}

.nav-item {
	margin-bottom: 13px;
}

.nav-link {
	color: #7f8c8d;
	font-size: rem(49);
	@include transition(all .2s ease-in-out);

	&:hover, &:focus {
		color: $greenSea;
		text-decoration: none;
	}
}