/*------------------------------------*\
    #Header Styles
\*------------------------------------*/

// nav logo and hamburger
.icon-bar, .navbar-brand {
	@include transition(all .2s ease-in-out);	
}

.navbar-brand {
	font-size: rem(25);
}

.navbar-toggle {

	margin-top: 25px;
	margin-bottom: 21px;

	.icon-bar {
		width: 24px;
	}

	&:hover {
		.icon-bar {
			background-color: $greenSea;
		}
	}

}

/*------------------------------------*\
    #Overlay Styles
\*------------------------------------*/

// outer nav overlay and animations
.overlay, .dark-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	opacity: 0;
	pointer-events: none;
}

.overlay {
	width: 30%;
	background: $white;
	z-index: 2000;
	@include transition(all .2s ease-in-out);

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: -50px;
		width: 130px;
		height: 100%;
		background: $white;
		@include transform(skewX(-6deg));		
	}

}

.dark-overlay {
	background: $transparentBlack;
	left: 0;
	width: 100%;
	z-index: 1090;
	@include transition(opacity .2s linear);
}

.nav-item {
	margin-bottom: 13px;
	opacity: 0;
	@include transition(all .2s linear);
}

.active-overlay {
	opacity: 1;

	&.overlay, &.inactive-overlay {
		@include animation-fill-mode(both);	
	}

	&.overlay, &.dark-overlay {
		pointer-events: auto;
	}

	&.overlay, .nav-item {
		@include animation(slideMenu .4s ease-in-out);	
	}

	.nav-item {
		@include animation-fill-mode(both);	
		@for $item from 1 through 4{
	
		  &:nth-child(#{$item}){ 
		    @include animation-delay(#{$item / 10}s); 
		  }
		}		
	}
}

.inactive-overlay {
	&.overlay {
		@include animation(slideMenuOut .4s ease-in-out);
		@include animation-fill-mode(both);	
	}

	&.dark-overlay {
		@include transition-delay(.6s);
	}
}

// inner nav overlay styles
.overlay-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: right;
	padding: 0 70px;
	@include transform(translateY(-50%));	
}

.main-menu {
	margin-bottom: 0;
}

.nav-link {
	color: $absestos;
	font-size: rem(49);
	@include transition(all .2s ease-in-out);

	&:hover, &:focus {
		color: $greenSea;
		text-decoration: none;
	}
	
}

