/*------------------------------------*\
    #Header Styles
\*------------------------------------*/

// navigation links
.navbar-brand, .desktop-nav-link {
	text-transform: lowercase;
	@include type-weight(regular);	
}

.navbar-brand {
	font-size: rem(25);
}

.brand-name {
	&:first-of-type {
		margin-right: rem(-5);
	}

	&:last-of-type {
		@include type-weight(light);
	}
}

.desktop-nav-link {
	font-size: rem(20);
	@include transition(color .2s ease-in-out);
}