/*------------------------------------*\
    #Base Typography
\*------------------------------------*/

h1, h2, h3, h4, h5 {
	margin-top: 0;
	margin-bottom: 0;
	@include transition(all .2s ease-in-out);
}

h1 {
	@include type-scale(xxlarge);
}


h2 {
	@include type-scale(xlarge);
}

h3 {
	@include type-scale(large);
}

h4 {
	@include type-scale(medium);
}

p, dl {
	@include type-scale(base);
	@include type-weight(regular);
}

small {
	@include type-scale(small);
}

strong {
	@include type-weight(medium);
}

/*------------------------------------*\
    #Typography Classes
\*------------------------------------*/

// introduction typography
.intro-header {
	text-align: left;
}

.intro-header {
	margin-bottom: rem(42);
}

.intro-copy {
	display: block;
}

.intro-lead {
	@extend h2;
	@include type-weight(regular);
}

// section typography
.section-header {
	margin-bottom: rem(42);
	@include type-weight(bold);

	&:not(.intro-copy) {
		text-align: center;
	}
}

.section-subtitle, 
.section-copy {
	margin-bottom: rem(22);
}

.section-subtitle {
	text-transform: uppercase;
	letter-spacing: rem(1);
	@extend h4;
	@include type-weight(medium);
}