/*------------------------------------*\
    #Base Typography
\*------------------------------------*/

h1, h2, h3, h4, h5 {
	margin-top: 0;
	margin-bottom: 0;
	@include type-weight(regular);
	@include transition(all .2s ease-in-out);
}

h1 {
	@include type-scale(xxlarge);
}


h2 {
	@include type-scale(xlarge);
}

h3 {
	@include type-scale(large);
}

h4 {
	@include type-scale(medium);
}

p, dl {
	@include type-scale(base);
	@include type-weight(regular);
}

small {
	@include type-scale(small);
}

// typography classes
.intro-header {
	text-align: left;
}

.section-header {
	margin-bottom: rem(60);
	text-align: center;
}

.section-subtitle, .section-copy {
	margin-bottom: rem(20);
}

.section-subtitle {
	font-family: $font-family-sans-serif;
}