/*------------------------------------*\
    #Base Typography
\*------------------------------------*/

h1, h2, h3, h4, h5 {
	margin-top: 0;
	margin-bottom: 0;
	@include type-weight(regular);
	@include transition(all .2s ease-in-out);
}

h1 {
	@include type-scale(xxlarge);
}


h2 {
	@include type-scale(xlarge);
}

h3 {
	@include type-scale(large);
}

h4 {
	@include type-scale(medium);
}

p {
	margin-bottom: rem(20);
	@include type-scale(medium);
	@include type-weight(regular);
}

small {
	@include type-scale(small);
}

// header sections
.intro-header-section,
.header-section {
	text-align: left;
}

.header-section {
	margin-bottom: rem(30);
}

// .header-text {
// 	text-transform: lowercase;
// }