/*------------------------------------*\
    #Typography Settings
\*------------------------------------*/

$type-scale: (
    tiny: rem(13),

    small: rem(16),

    base: rem(20),

    medium: rem(25), 

    large: rem(31),

    xlarge: rem(39),

    xxlarge: rem(49) 
);

$type-weight: (
    thin: 200,
    light: 300,
    regular: 400,
    medium: 500,
    semi: 600,
    bold: 700,
    black: 900
);