/*------------------------------------*\
    #Typography Mixins
\*------------------------------------*/

@mixin type-scale($scale, $map: $type-scale) {
  font-size: map-fetch($map, $scale font-size);
  line-height: map-fetch($map, $scale base-lines);
}

@mixin type-weight($weight) {
    font-weight: map-get($type-weight, $weight);
}